<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="script/hbs.js" defer></script> -->
    <%- include('link') %>
</head>
<body>
    
<!-- Inclusion du menu -->
<%- include('menu') %>

<!-- Contenu de votre page export -->


<!-- Inclusion du footer -->
<%- include('footer') %>

</body>
</html>