<nav>
    <ul id="menu-accordeon">
        <li><a href="#"><i class="fa-solid fa-bars"></i></a>
           <ul>
              <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
              <li><a href="/ticket"><i class="fa-solid fa-ticket"></i></a></li>
              <li><a href="/build"><i class="fa-solid fa-briefcase"></i></a></li>
              <li><a href="/modify"><i class="fa-solid fa-hammer"></i></a></li>
           </ul>
        </li>
    </ul>

    <h1><%= title %></h1>
</nav>
<div class="space">

</div>