<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self';">
    <link rel="stylesheet" href="/style.css">
    <script defer src="/script/app.js"></script>
    <title><%= title %></title>
</head>
<body>
    <% if (isWindows) { %>
        <div class="title-bar">
            <button id="minimize"><i class="fa-solid fa-window-minimize"></i></button>
            <button id="maximize"><i class="fa-regular fa-window-maximize"></i></button>
            <button id="close"><i class="fa-solid fa-xmark"></i></button>
        </div>
    <% } %>
    <nav >
        <ul id="menu-accordeon">
            <li><a href="#"><i class="fa-solid fa-bars"></i></a>
                <ul>
                    <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
                    <li><a href="/ticket"><i class="fa-solid fa-ticket"></i></a></li>
                    <li><a href="/build"><i class="fa-solid fa-briefcase"></i></a></li>
                    <li><a href="/modify"><i class="fa-solid fa-hammer"></i></a></li>
                    <li><a href="/addImage"><i class="fa-solid fa-image"></i></a></li>
                    <li><a href="/export"><i class="fa-solid fa-folder"></i></a></li>
                </ul>
            </li>
        </ul>
        <h1 id="h1-nav"><%= title %></h1>
    </nav>
    <div class="space"></div>
</body>
</html>
