<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="script/patch.js" defer></script>
    <%- include('link') %>
</head>
<body id="body-bg">

<%- include('menu') %>

<div id="content" class="wrapper-modify">
    <div class="event-wrapper-modify">
        <h2>Liste des Événements :</h2>
        <ul id="event-liste"></ul>
    </div>

    <div class="ticket-wrapper-modify">
        <h2>Tickets des Événements :</h2>
        <ul id="ticket-liste"></ul>
    </div>
</div>

<div class="ticket-form-wrapper">
    <h2>Formulaire de Modification de Ticket :</h2>
    <form id="ticket-form" enctype="multipart/form-data">
        <div id="modification-message"></div>

        <input type="hidden" name="id">
        <label for="event">Événement :</label>
        <input type="text" id="event" name="event" required><br>
        <label for="structure">Structure :</label>
        <input type="text" id="structure" name="structure" required><br>
        <label for="adresse">Adresse :</label>
        <input type="text" id="adresse" name="adresse" required><br>
        <label for="code_postal_ville">Code Postal Ville :</label>
        <input type="text" id="code_postal_ville" name="code_postal_ville" required><br>
        <label for="sgc">SGC :</label>
        <input type="text" id="sgc" name="sgc" required><br>
        <label for="serie">Numéro de Série :</label>
        <input type="text" id="serie" name="serie" required><br>
        <label for="image">Image :</label>
        <select id="select-image" name="img" required>
        </select><br>    
        
        <button type="submit"><i class="fa-solid fa-pen-nib"></i> Modifier</button>
        <br>
        <br>
    </form>
</div>

<%- include('footer') %>

</body>
</html>